
.content{
    .patient_select{
        display: flex;
        select{
            margin-left: 20px;
        }
    }
    .content-input{
        margin-top: 20px;
    }
    .duration-time{
        display: flex;
        margin-top: 20px;
        .duration-box1{
            font-weight: bolder;
            margin-right: 10px;
        }
        .duration-input{
            margin-right: 10px;
            margin-left: 10px;
        }
        .duration-hour{
            margin-left: 10px;
        }
    }
}
.priority{
    margin-top: 20px;
    display: flex;
    select{
        margin-left: 20px;
    }
}
