<body>
    <div id="menu" class="menu">
        <div class="menu-box">
            <div class="menu-title">
                <div id="add-reminder" [ngClass]="{'active-box': this.addButton,'box' : this.addButton == false}" (click)="changetoAdd()" routerLink="add-reminder">
                    <div>Add Reminder</div>
                </div>
                <div id="reminder-list" [ngClass]="{'active-box': this.reminderButton,'box' : this.reminderButton == false}" (click)="changetoReminder()" routerLink="">
                    <div>Reminder-List</div>
                </div>
                <div id="history-list" [ngClass]="{'active-box': this.historyButton,'box' : this.historyButton == false}" (click)="changetoHistory()" routerLink="history">
                    <div>History-List</div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="content">
        <div id="log-out">
            <button routerLink="../login">log-out</button>
        </div>
        <router-outlet></router-outlet>
    </div>


</body>