<body>
    <div id="menu" class="menu">
        <div class="menu-box">
            <div class="menu-title">
                <div id="add-reminder" class="box">
                    <button routerLink="add-reminder">add reminder</button>
                </div>
                <div id="reminder-list" class="box">
                    <button routerLink="">Reminder-list</button>
                </div>
                <div id="history-list" class="box">
                    <button routerLink="history">History-list</button>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="content">
        <div id="log-out">
            <button routerLink="../login">log-out</button>
        </div>
        <router-outlet></router-outlet>
    </div>


</body>