<h2 class="Title">Hospital Reminder System</h2>
<hr>
<div id="login" class="login-page">
    <div id="usename" class="usename">
        <input placeholder="input your email" [(ngModel)]="doctor.email">
    </div>
    <div id="password" class="password">
        <input placeholder="input your password" type="password" [(ngModel)]="doctor.password">
    </div>
    <div class="button-box">
        <button (click)="jump()">login</button>
    </div>
</div>
<div class="explaination">
    <div>You can use the email: <strong>yic192@pitt.edu</strong> </div>
    <div>and the password: <strong>123</strong> to test the function.</div>
</div>