<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="8" offset="2" style="margin-bottom: 20px;">
                <ion-input placeholder="Please input your email" [(ngModel)]="patient.email" [clearInput]="true" style="border-radius: 5px;border: 1px solid gray;"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8" offset="2" style="margin-bottom: 20px;">
                <ion-input placeholder="Please input your password" [(ngModel)]="patient.password" type="password" [clearInput]="true" style="border-radius: 5px;border: 1px solid gray;"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3" offset="2">
                <ion-button style="width: 100px;" (click)="login()">login</ion-button>
            </ion-col>
            <ion-col offset="1">
                <ion-button color="light" style="width: 100px;">clear</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>